body {
  background-color: darkslategrey;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.death {
  top: 300px;
  left: 400px;
  position: absolute;
  font-size: 50px;
  color: crimson;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  /* color :  */
}

.info p {
  padding: 1vh;
}

.controlpanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  margin-left: auto;
  margin: auto;
  width: 300px;
  border: 2px solid blue;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.buttonmain {
  padding: 2vh;
  margin-left: auto;
  margin-right: auto;
  background-color: purple;
  border: 2px solid gold;
  color: burlywood;
  width: 200px;
}

.descriptionmain {
  padding: 2vh;
  margin-left: auto;
  margin-right: auto;
  background-color: purple;
  border: 2px solid gold;
  color: burlywood;
  width: 200px;
}
.spacer {
  padding: 1px;
}
.button {
  padding: 2vh;
  margin: 1px;
  border: 2px solid purple;
  margin-left: auto;
  margin-right: auto;
  background-color: deepskyblue;
  width: 200px;
}
.description {
  margin: 1px;
  padding: 2vh;
  border: 2px solid purple;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
  width: 200px;
}

.note {
  background-color: blanchedalmond;
  margin-top: -5px;
  padding: 4px;
}
